* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(#773db4, #7b00ff);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-height: 80rem;
}

main {
  width: 90%;
  font-size: 1.25rem;
  margin: auto;
}

#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  border-color: #140524;
  background: #5a00b9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  margin: 0 0 0.15rem 0;
  color: #fff;  
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 2rem;
  border-radius: 6px;
  padding: 2rem;
}

#core-concepts ul li {
  max-width: 20rem;
  padding: 2rem;
  border: 1px solid #fff;
  text-align: center;
}

#core-concepts li img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

#core-concepts li h3 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

#core-concepts li p {
  margin: 0.9rem 0;
}

#examples{
  margin: 3rem auto;
}

#examples h2{
  text-align: left;
}

#examples menu{
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button{
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: #fff;
  background: #9d42ff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

#examples menu button.active{
  background: #5a00b9;
}

#examples menu button.active:hover{
  background: #5a00b9;
}

#examples menu button:hover{
  background: #5a00b9;
}

#tab-content{
  background: #5a00b9;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 5px 15px;
}